How to make a CSR Agent/Email validation.json
{
  "name": "Email validation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -768,
        -48
      ],
      "id": "b5837061-7374-4ad2-addc-7af241e21566",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "nlQF0yG166gTU6al",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "<Data Table ID>",
          "mode": "list",
          "cachedResultName": "Gmail Authentication",
          "cachedResultUrl": "/projects/<Project Id>/datatables/<Data Table ID>"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Email",
              "keyValue": "={{ ($json.Email.match(/<([^>]+)>|([^\\s<>]+@[^\\s<>]+)/) || [])[1] || ($json.Email.match(/<([^>]+)>|([^\\s<>]+@[^\\s<>]+)/) || [])[2] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -192,
        -208
      ],
      "id": "1d57dd5b-f740-43cd-a098-526dacc458c9",
      "name": "Get row(s)",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6bb0961f-655a-421b-a37e-26d58995fefa",
              "leftValue": "={{ $('Code in JavaScript').item.json.token }}",
              "rightValue": "={{ $json.Authentication_token }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -16,
        -208
      ],
      "id": "d971aef6-7eeb-4af1-b3ee-70989a6a903b",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "<Your Googe Sheet Id>",
          "mode": "list",
          "cachedResultName": "Chat History",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/<Your Googe Sheet Id>/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 939932668,
          "mode": "list",
          "cachedResultName": "Sender Information",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/<Your Googe Sheet Id>/edit#gid=939932668"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sender Id": "={{ $json.SenderId }}",
            "Email Status": "Validated"
          },
          "matchingColumns": [
            "Sender Id"
          ],
          "schema": [
            {
              "id": "Sender Id",
              "displayName": "Sender Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Middle Name",
              "displayName": "Middle Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Suffix",
              "displayName": "Suffix",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Contact No.",
              "displayName": "Contact No.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Status",
              "displayName": "Email Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Discovery Meeting Id",
              "displayName": "Discovery Meeting Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Meeting Link",
              "displayName": "Meeting Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Client Status",
              "displayName": "Client Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        -304
      ],
      "id": "e0a772e5-ea07-4adc-9d6f-92fe4c9802d9",
      "name": "Update row in sheet",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6Ut71cphPkhg1Wje",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v24.0/<Your Facebook Id>/messages ",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Get row(s)').item.json.SenderId }}\"\n  },\n  \"messaging_type\": \"RESPONSE\",\n  \"message\": {\n    \"text\": \"Congratulations!🎊 \\n\\n{{ $('Get row(s)').item.json.Full_Name }}☺️ \\n\\n✅Your email has been successfully confirmed.\\n\\n👉🏻You can now proceed to book your schedule and continue your journey with us🫱🏻‍🫲🏻\\n\\n😊Happy Automation👏🏻\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        -304
      ],
      "id": "9d6307ff-8066-4aaa-8da4-171dfc43c020",
      "name": "Send Reply3",
      "retryOnFail": true,
      "credentials": {
        "facebookGraphApi": {
          "id": "nO4zRv3ulIF7RWVI",
          "name": "MDA FB PAGE"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v24.0/<Your Facebook Id>/messages ",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Get row(s)').item.json.SenderId }}\"\n  },\n  \"messaging_type\": \"RESPONSE\",\n  \"message\": {\n    \"text\": \"Oop's🤭 wrong code:🙏🏻Please Try Again🥹\\nYOUR VERIFICATION CODE IS:\\n {{ $('Get row(s)').item.json.Authentication_token }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        -128
      ],
      "id": "d8488a40-c7c5-4f61-b0a0-55adab5c696b",
      "name": "Send Reply",
      "retryOnFail": true,
      "credentials": {
        "facebookGraphApi": {
          "id": "nO4zRv3ulIF7RWVI",
          "name": "MDA FB PAGE"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6bb0961f-655a-421b-a37e-26d58995fefa",
              "leftValue": "={{ $json.snippet }}",
              "rightValue": "=<Your Prefix Here>",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -576,
        -48
      ],
      "id": "d2a571fe-7174-4146-8d1e-7ffc1eec6c06",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "const Email = $input.first().json.From;\nconst Snippet = $input.first().json.snippet;\n// Use a safe regex that matches your full token with exactly 20 alphanumeric characters after it\nconst match = Snippet.match(/<Your Prefix Here>[A-Za-z0-9]{20}/);\n\n// Extract the token if found, otherwise null\nconst token = match ? match[0] : null;\n\nreturn [\n  {\n    json: {\n      token,\n      Email\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        -208
      ],
      "id": "635c4d0a-7d54-4dbd-af5e-174ba5867e45",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Send Reply3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b4986075-b4a3-4ae1-aeb2-a7c6920a4d58",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a3b96ecce66c34acc113f9eec63f47ca627f695f8598a977cf984773aef4af6c"
  },
  "id": "wT6JyhzA1ol7rTXD",
  "tags": []
}