How to make a CSR Agent/ReBook A Meeting.json
{
  "name": "ReBook A Meeting",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Sender_Id"
            },
            {
              "name": "Discovery_Meeting_Id"
            },
            {
              "name": "Start"
            },
            {
              "name": "End"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -736,
        32
      ],
      "id": "4c21342c-f484-4e49-b3fb-b0f2268b605c",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "<Google Sheet Id>",
          "mode": "list",
          "cachedResultName": "CSR AGENT DATABASE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/<Google Sheet Id>/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 939932668,
          "mode": "list",
          "cachedResultName": "Sender Information",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/<Google Sheet Id>/edit#gid=939932668"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Client Status": "Booked",
            "Discovery Meeting Link": "={{ $json.conferenceData.entryPoints[0].uri }}",
            "Meeting Time And Date": "={{ $('When Executed by Another Workflow').item.json.Title }}\nFrom {{\n  (() => {\n    const d = new Date($json.start.dateTime);\n    const pst = new Date(d.toLocaleString('en-US', { timeZone: 'Asia/Manila' }));\n    const day = pst.toLocaleString('en-PH', { weekday: 'long' });\n    const date = pst.toLocaleString('en-PH', { month: '2-digit', day: '2-digit', year: 'numeric' });\n    const time = pst.toLocaleString('en-PH', { hour: '2-digit', minute: '2-digit', hour12: true });\n    const period = pst.getHours() < 12 ? 'Morning' : 'Evening';\n    return `${day}, ${date} ${time} (${period})`;\n  })()\n}}\nTo {{\n  (() => {\n    const d = new Date($json.end.dateTime);\n    const pst = new Date(d.toLocaleString('en-US', { timeZone: 'Asia/Manila' }));\n    const day = pst.toLocaleString('en-PH', { weekday: 'long' });\n    const date = pst.toLocaleString('en-PH', { month: '2-digit', day: '2-digit', year: 'numeric' });\n    const time = pst.toLocaleString('en-PH', { hour: '2-digit', minute: '2-digit', hour12: true });\n    const period = pst.getHours() < 12 ? 'Morning' : 'Evening';\n    return `${day}, ${date} ${time} (${period})`;\n  })()\n}}\n\n",
            "Sender Id": "={{ $('When Executed by Another Workflow').item.json.Sender_Id }}"
          },
          "matchingColumns": [
            "Sender Id"
          ],
          "schema": [
            {
              "id": "Sender Id",
              "displayName": "Sender Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Middle Name",
              "displayName": "Middle Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Suffix",
              "displayName": "Suffix",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Contact No.",
              "displayName": "Contact No.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Status",
              "displayName": "Email Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Discovery Meeting Id",
              "displayName": "Discovery Meeting Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Discovery Meeting Link",
              "displayName": "Discovery Meeting Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meeting Time And Date",
              "displayName": "Meeting Time And Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Status",
              "displayName": "Client Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -160,
        16
      ],
      "id": "145b43d1-0dfb-4866-a4d0-8dd0f0674229",
      "name": "Append or update row in sheet",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6Ut71cphPkhg1Wje",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "<Your google Calendar Id >",
          "mode": "list",
          "cachedResultName": "Midknight Automation Client Meeting "
        },
        "eventId": "={{ $json.Discovery_Meeting_Id }}",
        "updateFields": {
          "end": "={{ $json.End }}",
          "start": "={{ $json.Start }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -464,
        32
      ],
      "id": "0062e86d-2369-4f4d-ba19-5b72d8fbd06d",
      "name": "Update an event",
      "retryOnFail": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "fRdvozVqMzqU8R1K",
          "name": "Google Calendar account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0849d290-6938-44b2-ae30-297a6cd27f7b",
              "name": "message",
              "value": "Meeting Rescheduling Process Failed due to an error",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -464,
        272
      ],
      "id": "29871fe1-42f7-4245-8083-4b2284bfeddc",
      "name": "Failed"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v24.0/<Your Facebook Id>/messages ",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('When Executed by Another Workflow').item.json.Sender_Id }}\"\n  },\n  \"messaging_type\": \"RESPONSE\",\n  \"message\": {\n    \"text\": \"✅Meeting has been Rebooked successfully. Processing records; please standby...\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -288,
        -192
      ],
      "id": "52c13ff5-7a52-49bf-aed3-1343ad06b9dd",
      "name": "Confirm Booking",
      "credentials": {
        "facebookGraphApi": {
          "id": "nO4zRv3ulIF7RWVI",
          "name": "MDA FB PAGE"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v24.0/<Your Facebook Id>/messages ",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "<Facebook Acces Token>"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('When Executed by Another Workflow').item.json.Sender_Id }}\"\n  },\n  \"messaging_type\": \"RESPONSE\",\n  \"message\": {\n    \"text\": \"✅Meeting Info Stored, wait for a moment🤚🏻\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        32,
        -192
      ],
      "id": "90f2f53f-8a33-4be6-bb89-d0529aebde2e",
      "name": "Confirm Record",
      "credentials": {
        "facebookGraphApi": {
          "id": "nO4zRv3ulIF7RWVI",
          "name": "MDA FB PAGE"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Pull fields from input\nconst data = $input.first().json;\nconst raw = data[\"Meeting Time And Date\"];\nconst meetingLink = data[\"Discovery Meeting Link\"];\n\n// Clean unwanted text\n// Removes \"(Evening)\" and trims spaces\nconst cleaned = raw.replace(/\\(Evening\\)/g, \"\").trim();\n\n// Split into start / end lines\nconst lines = cleaned.split(\"\\n\");\n\nconst startStr = lines[0].replace(\"From \", \"\").trim();\nconst endStr = lines[1].replace(\"To \", \"\").trim();\n\n// Convert to JS Date objects\nconst startDate = new Date(startStr);\nconst endDate = new Date(endStr);\n\n// Format components\nconst dayName = startDate.toLocaleDateString(\"en-US\", { weekday: \"long\" });\nconst fullDate = startDate.toLocaleDateString(\"en-US\", {\n  month: \"long\",\n  day: \"numeric\",\n  year: \"numeric\"\n});\n\nconst startTime = startDate.toLocaleTimeString(\"en-US\", {\n  hour: \"2-digit\",\n  minute: \"2-digit\"\n});\n\nconst endTime = endDate.toLocaleTimeString(\"en-US\", {\n  hour: \"2-digit\",\n  minute: \"2-digit\"\n});\n\n// Build final message\nlet message = `Your meeting is rescheduled on ${dayName}, ${fullDate} from ${startTime} to ${endTime}.`;\n\nif (meetingLink && meetingLink.trim() !== \"\") {\n  message += ` Here is your meeting link: ${meetingLink}`;\n}\n\nreturn [{ json: { message } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "d5acff56-f05b-4f05-8af8-d74e2744be3c",
      "name": "Success",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Update an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          },
          {
            "node": "Confirm Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update an event": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Confirm Booking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success": {
      "main": [
        [],
        [
          {
            "node": "Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c75a2753-dd19-49a8-8b8d-92e4f76bb197",
  "meta": {
    "instanceId": "a3b96ecce66c34acc113f9eec63f47ca627f695f8598a977cf984773aef4af6c"
  },
  "id": "qQBX1H5K60XwEjP1",
  "tags": []
}