How to make distribution inside a loop/Counter Inside A Loop.json
{
  "name": "Counter Inside A Loop",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 10,
              "triggerAtHour": 10,
              "triggerAtMinute": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -496,
        -48
      ],
      "id": "49664242-291e-4ca5-b0be-85c7a33727dc",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        0,
        -48
      ],
      "id": "52af2873-bab7-4d40-9ba8-a9285c30a263",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        208,
        256
      ],
      "id": "901f5d6f-05d5-49ee-982f-f59c3ae3c1fa",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Run Index Counter').item.json.counter }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4c76b313-bbf3-4c7d-a7dc-b3144412a8f0"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4ce1ce61-9cbe-4d87-8027-671709e32366",
                    "leftValue": "={{ $('Run Index Counter').item.json.counter }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e3afd7aa-c4a8-4141-b3f3-1939344f603c",
                    "leftValue": "={{ $('Run Index Counter').item.json.counter }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "94c39b53-f16a-4cc5-a03c-6cb64df278c8",
                    "leftValue": "={{ $('Run Index Counter').item.json.counter }}",
                    "rightValue": "4",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8befb364-9c27-414d-9bfe-08223d4f6c65",
                    "leftValue": "={{ $('Run Index Counter').item.json.counter }}",
                    "rightValue": "5",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0bfa96cf-e794-48e6-8809-0f9bcbd6d8a0",
                    "leftValue": "={{ $('Run Index Counter').item.json.counter }}",
                    "rightValue": "6",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "798eec78-45a9-46e9-bf7c-df7ab352e15f",
                    "leftValue": "={{ $('Run Index Counter').item.json.counter }}",
                    "rightValue": "7",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        384,
        176
      ],
      "id": "3ce9d73c-e8be-4fba-9f43-b70e4528db51",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        624,
        -176
      ],
      "id": "4a04c895-74c8-4ee2-8c69-4c12ae511a9e",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        624,
        -32
      ],
      "id": "9597c899-a26a-47be-8705-4ad9655ce5c5",
      "name": "No Operation, do nothing3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        624,
        112
      ],
      "id": "92244540-619f-4934-ae6d-873daaeb1802",
      "name": "No Operation, do nothing4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        624,
        256
      ],
      "id": "cbb7aa52-aa9e-476b-ab48-4b20f46779a2",
      "name": "No Operation, do nothing5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        624,
        400
      ],
      "id": "df6145db-8a0c-4452-a193-6925090d75f3",
      "name": "No Operation, do nothing6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        624,
        544
      ],
      "id": "6b1f6192-dc0c-4916-ae8e-3cfa67ba06b5",
      "name": "No Operation, do nothing7"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        624,
        688
      ],
      "id": "370b2b96-b460-46f3-8898-4549a278b306",
      "name": "No Operation, do nothing8"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        928,
        672
      ],
      "id": "03957004-3546-4833-bfb0-1106d77ce52c",
      "name": "No Operation, do nothing9"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        928,
        256
      ],
      "id": "7fc2da23-9576-42ea-9ca7-cdf2540410ac",
      "name": "Wait",
      "webhookId": "80318407-f0b3-40f3-8ae1-a2c8f748fa85"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f06c3da-b2c5-4026-92a9-45d7fde35789",
              "name": "Data",
              "value": 12,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        -48
      ],
      "id": "f402f5f6-79b7-40a3-b1c9-f63c1b197486",
      "name": "Set Values"
    },
    {
      "parameters": {
        "jsCode": "// Get the incoming JSON data from the previous node\nconst inputData = $input.item.json;\nconst numberOfItems = $input.first().json.Data;\n// Create an array with 36 copies of the same data\nconst output = [];\n\nfor (let i = 0; i < numberOfItems; i++) {\n  // Clone the JSON object (to avoid reference issues)\n  output.push({ ...inputData });\n}\n\n// Return as separate n8n items\nreturn output.map(item => ({ json: item }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        -48
      ],
      "id": "05db9734-67c2-4f14-96b1-14d44935f0b6",
      "name": "Duplicate Input as items"
    },
    {
      "parameters": {
        "jsCode": "let index = $runIndex + 1;     // Loop iteration number (starts at 1)\nlet counter = ((index - 1) % 7) + 1;  // Wraps 1 → 7, then back to 1\n\n// Convert both to string if you want consistency\nlet counterStr = counter.toString();\nlet run = index.toString();    // run index as string\n\nreturn [{\n  json: {\n    counter: counterStr,\n    run: run\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        256
      ],
      "id": "4e14ebbc-a7fa-4ef4-bc82-05a25e107a3d",
      "name": "Run Index Counter"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Run Index Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing3": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing4": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing5": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing6": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing7": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing8": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing9": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "No Operation, do nothing9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Values": {
      "main": [
        [
          {
            "node": "Duplicate Input as items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Duplicate Input as items": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Index Counter": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f8e216e5-2b6c-4b9c-ab84-7af16ef3eea9",
  "meta": {
    "instanceId": "a3b96ecce66c34acc113f9eec63f47ca627f695f8598a977cf984773aef4af6c"
  },
  "id": "vTk4AzmjpWe8u6IC",
  "tags": []
}